.idea/
.gradle/
*.iml
*.ipr
*.iws
work/
/data/
logs/
.DS_Store
build/
/target/
__ConfigTemp/
target/
*-execution-hints.log
docs/html/
docs/build.log
/tmp/
backwards/
html_docs
.vagrant/
.class
*/target/
.project
.classpath
eclipse-build
.settings

## netbeans ignores
nb-configuration.xml
nbactions.xml

dependency-reduced-pom.xml
/*.iml
